@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Some tasks") {
    
	<h2>Tasks (@tasks.size)</h2>
	
	<div class="row">
		<div class="span8">
			<ul>
				@tasks.map { task =>
					<li>
						<span title="@task.dueDate">@task.title</span>
						
						@form(routes.TaskController.deleteTask(task.id.get)) {
							<input type="submit" value="Delete" />
						}
					</li>
				}
			</ul>
		</div>
		
		<div class="span4">
			@form(routes.TaskController.newTask) {
				<fieldset>
					<legend>New task</legend>
					@inputText(taskForm("title"))
					@textarea(taskForm("comment"))
					@inputText(taskForm("dueDate"), 'class -> "dateField")
					
					<input type="submit" value="Create" class="btn" />
				</fieldset>
			}
		</div>
	</div>
	
	<script>
		$(function() {
			// input type date causes different browser behaviors
			$("input.dateField").datepicker({
				dateFormat: "dd/mm/yy"
			});
		});
	</script>
}